body {
    font-family: helvetica, sans-serif, arial;
    font-size: 1em;
    color: #111;
    margin: 0;
}

h1 {
    text-align: center;
}

#terminal-container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    top: 0;
}

#terminal-container .terminal {
    background-color: #111;
    color: #fafafa;
    padding: 2px;
    height: 100%;
}

#terminal-container .terminal:focus .terminal-cursor {
    background-color: #fafafa;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}


